.hiUserWrapper{
  white-space: nowrap;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hiUser {
    display: flex;
    color: var(--dark-grey);
    font-size: 36px;
    white-space: nowrap;
    text-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userName {
    font-weight: 700;
    white-space: nowrap;
    text-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
 }

