.waterDetailedInfoWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .waterDetailedInfoWrapper {
    flex-wrap: nowrap;
  }

}
