:root {
    --dark-grey: #2F2F2F;
    --grey: #323F47;
    ---green: #9BE1A0;
    --light: #F0EFF4;
    --white: #FFFFFF;

    max-width: 1440px;
    margin: 0 auto;
    // padding: 2rem;
    // text-align: center;
    color: var(--grey);
    background-color: var(--white);

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.container {
    max-width: 1376px;
    margin: 0 auto;
}