.popUp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  color: #323f47;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.headerText {
  width: 100%;
  text-align: left;
  color: #323f47;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 24px;
}

.section,
.data,
.label,
.content,
.amount,
.time,
.enter {
  width: 100%;
  text-align: left;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: flex-start;
}

.enter {
  margin-top: 24px;
}

.dataText {
  font-size: 16px;
  padding-bottom: 20px;
}

.labelText {
  font-size: 14px;
  color: #2f2f2f;
  font-weight: 500;
  padding-bottom: 8px;
  display: block;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputGroup button {
  background-color: #9be1a0;
  border: none;
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.inputGroup button:hover {
  background-color: #81cc89;
}

.inputGroup input {
  width: 50px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 100%;
  padding-left: 16px;
}

.error {
  color: red;
  font-size: 12px;
}

.amountSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  width: 178px;
  height: 40px;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 16px;
}

.amountInput {
  width: 50px;
  text-align: center;
  margin: 0 10px;
}

.minus {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50px;
  border: 1.5px #323f47 solid;
  cursor: pointer;
  background-color: inherit;
}

.minus .vector {
  width: 14px;
  height: 0px;
  left: 13px;
  top: 19px;
  position: absolute;
  border: 1.8px #323f47 solid;
}

.plus {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50px;
  border: 1.5px #323f47 solid;
  cursor: pointer;
  background-color: inherit;
}

.plus .vector:first-child {
  width: 0px;
  height: 14px;
  left: 19px;
  top: 13px;
  position: absolute;
  border: 1.8px #323f47 solid;
}

.plus .vector:last-child {
  width: 14px;
  height: 0px;
  left: 13px;
  top: 19px;
  position: absolute;
  border: 1.8px #323f47 solid;
}

.volume {
  padding: 10px 10px;
  background: #323f47;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.timeGroup {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.timeLabel {
  color: #2f2f2f;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.timeInput {
  align-self: stretch;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  border: 1px rgba(47, 47, 47, 0.15) solid;
  display: flex;
  justify-content: start;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.valueSection {
  align-self: stretch;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.valueLabel {
  text-align: center;
  color: #323f47;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}

.closeBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.btn {
  padding: 14px 40px;
  width: 141px;
  background: #9be1a0;
  border-radius: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: none;
}

.btnSave {
  text-align: center;
  color: #323f47;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
  cursor: pointer;
}

@media (min-width: 768px) {
  .headerText {
    font-size: 28px;
    line-height: 32px;
  }

  .section,
  .data,
  .label,
  .content,
  .amount,
  .time,
  .enter {
    font-size: 16px;
  }

  .dataText {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .labelText {
    font-size: 16px;
  }

  .minus,
  .plus {
    width: 42px;
    height: 42px;
  }

  .amountSection {
    width: 188px;
    height: 42px;
  }

  .volume {
    width: 86px;
    height: 42px;
    line-height: 22px;
  }

  .btn {
    width: 141px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .headerText {
    font-size: 28px;
    line-height: 32px;
  }

  .section,
  .data,
  .label,
  .content,
  .amount,
  .time,
  .enter {
    font-size: 16px;
  }

  .dataText {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .labelText {
    font-size: 16px;
  }

  .minus,
  .plus {
    width: 42px;
    height: 42px;
  }

  .amountSection {
    width: 188px;
    height: 42px;
  }

  .volume {
    width: 86px;
    height: 42px;
    line-height: 22px;
  }

  .btn {
    width: 141px;
    font-size: 16px;
    line-height: 24px;
  }
}