.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--main);
}

@media (min-width: 1440px) {
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

/* ================= */
.settingBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 90vh;
  overflow-y: auto;
  padding-right: 16px;
  margin-right: 4px;
}

.modalBox {
  background-color: var(--white);
  border-radius: 15px;
  min-width: 288px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 16px;
  right: 15px;
  z-index: 1000;
  cursor: pointer;
  border: none;
  background-color: transparent;
  fill: #2f2f2f;
}

@media (min-width: 375px) {
  .modalBox {
    width: 344px;
  }
}

@media (min-width: 768px) {
  .modalBox {
    width: 648px;
  }
}

@media (min-width: 1440px) {
  .modalBox {
    width: 920px;
  }
}
