.modal {
    position: relative;
    /* width: 343px; */
    /* background: #fff;
    border-radius: 15px; */
  }
  
  /* @media screen and (min-width: 768px) {
        .modal {
          width: 520px;
        }
      } */
  
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
    background-color: rgba(47, 47, 47, 0.6);
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    border: none;
    background-color: transparent;
    fill: #2f2f2f;
  }
  
