.userBarWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 1;
}

.userBarMainWrapper {
    display: flex;
    background-color: var(--grey);
    border-radius: 30px;
    min-width: 137px;
    height: 50px;
    align-items: center;
    padding: 6px 12px;
}

.userName {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}

.avatarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid;
    border-radius: 50%;
    border-color: transparent;
    overflow: hidden;
    margin: 0;
}

.avatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarImgdefault {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.popoverBtn {
    background-color: transparent;
    border: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
}

.arrUpIcon {
    stroke: var(--white);
    transition: transform 0.3s ease-out;
}

.popoverBtn.isActive .arrUpIcon {
    transform: rotate(180deg);
}

.popoverBtnWrapper {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    z-index: 1000;
}

.popoverBtn.isActive+.popoverBtnWrapper {
    display: block;
    opacity: 1;
}