.modalBox {
  width: 288px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 40px 15px;
  /* position */
  position: absolute;
  top: -135px;
  right: -144px;
}

.title {
  text-align: center;
  color: var(--dark-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  margin-bottom: 16px;
}

.text {
  text-align: center;
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.84px;
  margin-bottom: 28px;
}

.btnBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.logOutBtn {
  border: none;
  width: 100%;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--green);
  color: var(--grey);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.28;
  letter-spacing: -0.14px;
  transition: background-color var(--animation);
}

.logOutBtn:hover,
.logOutBtn:active,
.logOutBtn:focus {
  background-color: var(--lightGreenHover);
}

.cancelBtn {
  border: none;
  width: 100%;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--light);
  color: rgba(50, 63, 71, 0.3);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.28;
  letter-spacing: -0.14px;
  transition: background-color var(--animation);
}

.cancelBtn:hover,
.cancelBtn:active,
.cancelBtn:focus {
  color: var(--grey);
}

.close {
  position: absolute;
  top: 16px;
  right: 15px;
  z-index: 1000;
  cursor: pointer;
  border: none;
  background-color: transparent;
  fill: #2f2f2f;
}

@media (min-width: 375px) {
  .modalBox {
    width: 344px;
    right: -172px;
  }
}

@media (min-width: 768px) {
  .modalBox {
    width: 516px;
    padding: 40px 40px;
    right: -260px;
  }

  .btnBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .logOutBtn {
    width: 173px;
  }

  .cancelBtn {
    width: 176px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .logOutBtn {
    padding: 18px;
    font-size: 16px;
  }

  .cancelBtn {
    padding: 18px;
    font-size: 16px;
  }
}