.container {
  display: flex;
  gap: 15px;
}
.radio {
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    + .radioLabel {
      &:before {
        content: '';
        /* background: red; */
        border-radius: 100%;
        border: 1px solid var(--accent);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.1em;
        margin-right: 5px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radioLabel {
        &:before {
          background-color: var(--accent);
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }
    &:focus {
      + .radioLabel {
        &:before {
          outline: none;
          border-color: var(--accent);
        }
      }
    }
    + .radioLabel {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
.radioLabel {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text);
}
@media (min-width: 1440px) {
  .radioLabel {
    font-size: 16px;
    line-height: 1.5;
  }
}
