.container {
  display: flex;
  gap: 15px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--lightGreenHover);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.radio input[type="radio"]:checked {
  background-color: var(--white);
}

.radio input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--lightGreenHover);
  border-radius: 50%;
}

.radioLabel {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--dark-grey);
}

@media (min-width: 1440px) {
  .radioLabel {
    font-size: 16px;
    line-height: 1.5;
  }
}