.signUpWrap {
  border-radius: 30px;
  background: var(--light);
  padding: 170px 16px 0 16px;
  height: 780px;
  min-width: 288px;
}

.form {
  margin-bottom: 32px;
  max-width: 311px;
}

.formTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.32px;
  color: var(--grey);
  margin-bottom: 32px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 18.06px;
  letter-spacing: -0.14px;
  color: var(--dark-grey);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.input {
  font-family: inherit;
  letter-spacing: -0.16px;
  color: var(--dark-grey);
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
  padding: 16px;
  width: 100%;
  background-color: inherit;
  margin-bottom: 16px;
}

.input:focus,
.input:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.inputError {
  border: 1px solid #ef5050;
}

.inputWrapper {
  position: relative;
  display: flex;
}

.iconButton {
  position: absolute;
  right: 16px;
  top: 18px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  fill: none;
  background-color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.8px;
  stroke: #2f2f2f;
}

.errorMessage {
  color: #ef5050;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.06px;
  letter-spacing: -0.14px;
  color: rgba(47, 47, 47, 0.6);
}

.inputError::placeholder {
  color: #ef5050;
}

.button {
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background: var(--green);
  color: var(--grey);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-wrap: nowrap;
  transition: background-color var(--animation);
  margin-bottom: 16px;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--lightGreenHover);
}

.text {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-align: center;
}

.spanLink {
  color: var(--dark-grey);
  text-decoration-line: underline;
  font-weight: 700;
  letter-spacing: -0.16px;
}

@media (min-width: 768px) {
  .signUpWrap {
    padding: 227px 134px 0 134px;
    height: 960px;
  }

  .form {
    min-width: 436px;
    margin: auto;
  }

  .formTitle {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.36px;
    margin-bottom: 32px;
  }

  .label {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -0.16px;
  }

  .input {
    margin-bottom: 20px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .button {
    width: 436px;
    height: 60px;
    padding: 18px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

@media (min-width: 1440px) {
  .signUpWrap {
    width: 672px;
    height: 736px;
    padding: 130px 118px 0 118px;
  }
}


.loginWithGoogleBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginWithGoogleBtn {
  transition: background-color .3s, box-shadow .3s;

  width: 436px;
  height: 60px;

  text-wrap: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 18px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: 18px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}