.signUpWrap {
  border-radius: 30px;
  background: var(--light);
  padding: 170px 16px 0 16px;
  height: 780px;
}

.form {
  margin-bottom: 32px;
  max-width: 311px;
}

.formTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.32px;
  color: var(--grey);
  margin-bottom: 32px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 18.06px;
  letter-spacing: -0.14px;
  color: var(--dark-grey);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  outline: none;
  padding: 16px 0 16px 16px;
  width: 100%;
  background-color: inherit;
  margin-bottom: 16px;
}

.input:focus,
.input:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.inputError {
  border: 1px solid #ef5050;
}

.errorMessage {
  color: #ef5050;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.06px;
  letter-spacing: -0.14px;
  color: rgba(47, 47, 47, 0.6);
}

.inputError::placeholder {
  color: #ef5050;
}

.button {
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background: var(--green);
  color: var(--grey);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  transition: background-color var(--animation);
  margin-bottom: 16px;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--lightGreenHover);
}

.text {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-align: center;
}

.spanLink {
  color: var(--dark-grey);
  text-decoration-line: underline;
  font-weight: 700;
  letter-spacing: -0.16px;
}

@media (min-width: 768px) {
  .signUpWrap {
    padding: 227px 134px 0 134px;
    height: 960px;
  }

  .form {
    max-width: 436px;
    margin: auto;
  }

  .formTitle {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.36px;
    margin-bottom: 32px;
  }

  .label {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -0.16px;
  }

  .input {
    margin-bottom: 20px;
  }

  ::placeholder {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .button {
    width: 436px;
    height: 60px;
    padding: 18px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

@media (min-width: 1440px) {
  .signUpWrap {
    width: 672px;
    height: 736px;
    padding: 130px 118px 0 118px;
  }
}
