:root {
  /* Colors */
  --color-white: #ffffff;
  --color-lightgray: #f0eff4;
  --color-lightgreen: #9be1a0;
  --color-lightgreenhover: #87d28d;
  --color-darkblue: #323f47;
  --color-darkblue-translucent: rgba(50, 63, 71, 0.4);
  --color-black: #2f2f2f;
  --color-blacksemi: #2f2f2f80;
  --color-error: #ef5050;
  /* Animation */
  --animation: 150ms ease-in;


}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}