.trackerSection {
  width: 100%;
  min-width: 288px;
  border-radius: 30px;
  background: var(--light);
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .trackerSection {
    padding: 32px 32px 35px;
  }

}

@media screen and (min-width: 1440px) {
  .trackerSection {
    padding: 32px 32px 33px;
  }

}